
body {
    font-family: 'Roboto', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #ff914d;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.mode-header {
    width: 100%;
    margin: 0 auto;
    width: 80%;
    margin: 0 auto;
}

.logo {
    height: 90px;
    float: left;
}

nav {
    display: flex;
    justify-content: center;
    justify-items: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 25px;
    position: relative;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6em;
}

nav a:hover {
    color: navy;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
}



/* Gerais */

h2 {
    color: rgb(250, 124, 6);
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main p,
main li {
    font-size: 1.3em;
}

main h2 {
    font-size: 2.5em;
    font-family: 'Courier New', Courier, monospace;
}


/* produtos servicos */

.servico1 {
    display: flex;
    justify-content: center;
    margin: 2vh;
    align-items: center;
    background-color: whitesmoke;
}

.conta-digital {
    margin: 5vw;
}

li {
    list-style-type: none;
}

#cartao-credito {
    background-color: white;
}


/* nossa historia */

.servico2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}

.nossa-historia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-bottom: 2vh;
    padding-top: 4vh;
}

.img-main {
    width: 40vw;
    height: 60vh;
}

#img-predio {
    width: 60vw;
}

#historia-empresa {
    margin: 2vh;
}


/* ladding-page */

.apresentacao {
    background-image: url(./img/f4bank-logo.png);
    width: 100%;
    height: 400px;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    color: white;
}

#base-lading {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


/* Quem somos nós */

.quem-somos {
    text-align: center;
    align-items: center;
    margin: 3em;
}

.quem-somos h1 {
    color: rgb(250, 124, 6);
}

.quem-somos h2 {
    color: rgb(250, 124, 6);
}

.div-seguir {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.iconeGeral {
    width: 40px;
    height: 40px;
}

.iconeGeral {
    width: 40px;
    height: 40px;
}

.iconeGeral:hover {
    border: 10px solid rgb(255, 255, 112);
    border-radius: 50%;
}

.iconeCoracao {
    width: 40px;
    height: 40px;
}

.rede-sociais {
    align-items: center;
    text-align: center;
    justify-content: center;
}

footer {

  background: #ff914d;
  
  }
  
  footer::after {
  
  content: '';
  display: table;
  clear: both;
  
  }
  
  .mod-footer {
  
  width: 80%;
  margin: 0 auto;
  
  }
  
  .logo {
  
  height: 90px;
  float: left;
  
  }
  
  
  
  nav-footer{
  
  display: flex;
  justify-content: center;
  justify-items: center;
  
  }
  
  footer ul {
  
      margin: 0;
      padding:0;
      list-style: none;
  }
  
  nav-footer li {
      display: inline-block;
      margin-left: 70px;
      padding-top: 25px;
      position: relative;
      
  }
  
  nav-footer a {
      color: whitesmoke;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 20px;
  }
  
  nav-footer a:hover {
  color: navy; 
  }
  
  nav-footer a::before {
      content:'';
      display: block;
      height: 5px;
      width: 100%;
  }

.rede-sociais img {
    margin: 6px;
}


/* breakpoint */

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .servico1,
    .servico2 {
        display: flex;
        flex-direction: column;
    }
    .conta-digital {
        width: 80vw;
    }
    .img-main {
        width: 80vw;
        height: 50vh;
    }
    .nossa-historia {
        width: 80vw;
        margin: 5vh;
    }
    #img-predio {
        width: 80vw;
        height: 50vh;
    }
    .imagem-cartao {
        order: 2;
    }
    .apresentacao {
        background-image: url(./img/f4bank-logo.png);
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        background-size: contain;
    }
}